---
import '../styles/global.css'
---


<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PIRP-UI</title>
</head>
<body>
<h1>pirp-ui - phase 1</h1>
<h2>Deliverables</h2>
<ul>
  <li><a href="/pageDashboard/">Dashboard Page</a></li>
  <li><a href="/pageDetail/">Detail Page</a></li>
</ul>
<h2>Experiments (will be removed before release)</h2>
<ul>
  <li><a href="/pageStudyReactButtons/">Study: React Buttons</a></li>
  <li><a href="/pageStudyAstroButtons/">Study: Astro Buttons</a></li>
  <li><a href="/pageStudyFonts/">Study: Fonts</a></li>
</ul>
</body>
</html>

<script>
  console.log('Hello from index page!');
</script>